html {
	background-color: black;
}

body {
	text-align: left;
font-style: arial;
font-size: 28px;
width: 200;
color: green;
}
img {
width: 1323px;
height: 300px;
border: 10px solid green;
}

h1 {

	font-size: 40px;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
	padding:center;
}
span{
	color: red;
	font-style: bold;
}
.p{
	text-align: center;
	font-size: 180px;
}
.p2{
	color: yellow;
	padding: 0px 40px;
}
.p3{
	color: blue;
	font-size: 25px;
	text-align: center;
}
.p4{
padding: center;
text-align: center;
color: #00FF00;
font-size: 40px;

}
.link1{
	text-align: center;
 	padding:center; 
	
	font-size: 25px;	
}

.link2{
	
	font-size: 25px;
}

.url{
	font-size: 180px;
	color: white;
	text-align: center;
	padding: center;
}
